pkgbase = beekeeper-studio-bin
	pkgdesc = Modern and easy to use SQL client for MySQL, Postgres, SQLite, SQL Server, and more
	pkgver = 3.9.18
	pkgrel = 1
	url = https://www.beekeeperstudio.io
	arch = x86_64
	arch = aarch64
	license = MIT
	depends = libappindicator-gtk3
	depends = libnotify
	depends = libsecret
	depends = libxss
	depends = libxslt
	depends = nodejs
	depends = nss
	depends = xdg-utils
	provides = beekeeper-studio
	conflicts = beekeeper-studio
	source = beekeeper-studio-3.9.18-license::https://github.com/beekeeper-studio/beekeeper-studio/raw/v3.9.18/LICENSE.md
	sha256sums = 1409fbbc5265c85da91684660c87f85d74c3fdc63a2d355169f40dac5cc7a078
	source_x86_64 = https://github.com/beekeeper-studio/beekeeper-studio/releases/download/v3.9.18/beekeeper-studio_3.9.18_amd64.deb
	sha256sums_x86_64 = 86bf2ebba7294e84d43286d1e3134cc285dce4c3a783196646152a6abc92176b
	source_aarch64 = https://github.com/beekeeper-studio/beekeeper-studio/releases/download/v3.9.18/beekeeper-studio_3.9.18_arm64.deb
	sha256sums_aarch64 = 406a13a605d9ab1902b15afcce6907bbe125da815577ca60dfbdc322d21917fc

pkgname = beekeeper-studio-bin
