pkgbase = beekeeper-studio-bin
	pkgdesc = Modern and easy to use SQL client for MySQL, Postgres, SQLite, SQL Server, and more
	pkgver = 4.6.0
	pkgrel = 1
	url = https://www.beekeeperstudio.io
	arch = x86_64
	arch = aarch64
	license = MIT
	depends = libappindicator-gtk3
	depends = libnotify
	depends = libsecret
	depends = libxss
	depends = libxslt
	depends = nodejs
	depends = nss
	depends = xdg-utils
	provides = beekeeper-studio
	conflicts = beekeeper-studio
	source = beekeeper-studio-4.6.0-license::https://github.com/beekeeper-studio/beekeeper-studio/raw/v4.6.0/LICENSE.md
	sha256sums = 1409fbbc5265c85da91684660c87f85d74c3fdc63a2d355169f40dac5cc7a078
	source_x86_64 = https://github.com/beekeeper-studio/beekeeper-studio/releases/download/v4.6.0/beekeeper-studio_4.6.0_amd64.deb
	sha256sums_x86_64 = 175a604fb204f5d459228b445fea4b5301a94ef95d71b54897309780f62b169b
	source_aarch64 = https://github.com/beekeeper-studio/beekeeper-studio/releases/download/v4.6.0/beekeeper-studio_4.6.0_arm64.deb
	sha256sums_aarch64 = 188f745e66caab369a6924b379022d73dac45b87bfdc2b3cfe7433036597d674

pkgname = beekeeper-studio-bin
